*{
    margin:0;
    padding:0;
    font-family:'poppins','sans-serif';
} 
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(./eduford_img/banner.png);
    background-position:center;
    background-size:cover;
    
}
nav{
    display: flex;
    padding: 2% 6%;
    align-items:center;
    justify-content: space-between;
}
nav img{
    width: 150px;
}
.nav-links{
    /* background-color: rgb(255, 127, 127); */
    flex:1;
    text-align:right;
    
}
.nav-links ul li{
    list-style-type:none;
    display: inline-block;
    padding:8px 12px;
    position: relative;
    
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    font-family:'poppins','sans-serif';
    
}
.nav-links ul li ::after{
    content: " ";
    width: 0%;
    display: block;
    height: 2px;
    background: #f44336;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li :hover::after{
    width: 100%;
}
.text-box{
    position: absolute;
    top:50%;
    left:50%;
    width: 90%;
    transform: translate(-50%,-50%);
    color: #fff;
    text-align:center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 12px;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #f44336;
    background-color: #f44336;
    transition: 1s;
}
nav  .fa{
    display:none;
}
@media(max-width:700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display:block;
        
    }
    .nav-links ul li a{
        color:rgba(4,9,30,0.7)
    }
    .nav-links ul{
        padding: 30px;
        
    }
    .nav-links{
        background-color: rgb(204, 209, 227);
        position: absolute;
        top:0;
        right:-200px;
        height: 100vh;
        width: 200px;
        text-align: left;
        z-index: 1;
        transition:0.5s ease-out;
    }
    nav .fa{
        display: block;
        color: rgba(4,9,30,0.7);
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    nav .fa-bars{
        color: #fff;
    }
    .nav-links ul li :hover::after{
        width:50%;
        position: absolute;
        right: 50%;
    }
}
/* ------course--------- */
.course{
    width:80%;
    margin:auto;
    padding-top: 100px;
    text-align: center;
}
 h1{
    font-size: 36px;
    font-weight:600 ;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}
.course-col{
    flex-basis:30%;
    background-color: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding:20px 12px;
    box-sizing:border-box ;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight:600;
    margin:10px ;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.5);
}
@media(max-width:700px) {
    .row{
        display: flex;
        flex-direction: column;
    }
}

/* ------Campus--------- */

.campus{
    width: 80%;
    margin:auto;
    padding-top: 50px;
    text-align: center;
}
/* h3{
    font-size:32px;
    font-weight:600;
}
p{
    margin-top: 5%;
    font-size: 16px;
    font-weight: 300;
} */
.campus-col{ 
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.campus-col img{
    width: 100%;
    display: block;
}
.layer{
    background: transparent;
    width:100% ;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background-color: rgba(226,0,0,0.7);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom:0;
    left:50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom:49%;
    opacity: 1;
}
/* --------Facilities------------- */
.facilities{
    margin: auto;
    width: 80%;
    text-align: center;
    padding-top: 100px;
}

.facilities-col{
    flex-basis: 32%;
    border-radius:10px;
    margin-bottom: 5%;
    text-align: left;
}
.facilities-col img{
    width: 100%;
    border-radius: 10px;
}
.facilities-col p{
    padding:0;
}
.facilities-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}
/* -------testimonials--------- */
.testimonials{
    width: 80%;
    margin: auto;
    padding-top:80px;
    text-align: center;
}
.testimonial-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    display: flex;
    cursor:pointer;

}
.testimonial-col img{
    height: 40px;
    border-radius: 50%;
    margin-right: 30px;
    margin-left:5px ;
}
.testimonial-col p{
    padding:0;
}
.testimonial-col h3{
    text-align: left;
    margin-top: 15px;
}
.testimonial-col .fa{
    color: #f44336;
}
@media(max-width:700px){
    .testimonial-col img{
        
        margin-right: 15px;
        margin-left:0px ;
    }
}

/* -----   CONTACT US--------- */
.cta{
    margin:100px auto;
    width:80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(./eduford_img/banner2.jpg);
    background-position: center;
    background-size: cover;
    border-radius:10px;
    text-align: center;
    padding:100px 0;

}
.cta h1{
    color: #fff;
    margin-bottom:40px;
    padding:0;
}
@media(max-width:700px){
    .cat h1{
        font-size: 24px;
    }
}

/* -------footer----- */
.footer{
    width:100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight:600;
}